@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

.icon_bar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	z-index: 10; /* becaz isse hume top main dikhana h*/
}

a {
	text-decoration: none;
	width: 210px;
	background: #3b5999;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px;
	font-size: 20px;
	/* for show only the icon part 210-(20+30)= that we give in translate*/
	transform: translateX(-170px);
	-webkit-transform: translateX(-170px);
	-ms-transform: translateX(-170px);

	/* for hover part */
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}
.facebook {
	background: #3b5999;
}

.instagram {
	background: #e4405f;
}
.twitter {
	background: #55acee;
}
.youtube {
	background: #cd201f;
}
.linkedin {
	background: #0077b5;
}
a i {
	padding-left: 20px;
	font-size: 30px !important;
	animation: letszoom 3s linear alternate-reverse infinite;
}

a:hover {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}

@keyframes letszoom {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
	}
}
